# Database
DATABASE_URL=postgresql://user:password@localhost:5432/hashtag_tracking

# Instagram API
INSTAGRAM_ACCESS_TOKEN=EAAMQTKttZCYkBSELKv4G4xFswfgVyZCaCbXbeA4bajoc5mzq1lHqdxnYPVawQdYSXyjpD83eqsfAVnK6RjPzj7QHG11uZBZAOZAw0n6J2XQuYYO3uHkK6z1lrR27TqGIHFi9rl6D93LjnJapU9wviXGUznKezcB9q32Pl6rI3mm6XJ7epuvd5UGG3CctKXyUmJwHt
INSTAGRAM_USER_ID=17841480695597364
INSTAGRAM_API_VERSION=v24.0

# Server
PORT=3000
NODE_ENV=development

# Storage
STORAGE_PATH=./storage/media
